<h3>Average Duration By Day (Minutes)</h3>
<pre><%= "<%= column_chart @views.group_by_day(:created_at, format: \"%B %d, %Y\").average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %"+">" %></pre>
<%= column_chart @views.group_by_day(:created_at, format: "%B %d, %Y").average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %>

<h3>Average Duration By OS (Minutes)</h3>
<pre><%= "<%= column_chart @views.group(:os).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %"+">" %></pre>
<%= column_chart @views.group(:os).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %>

<h3>Average Duration By Browser (Minutes)</h3>
<pre><%= "<%= column_chart @views.group(:browser).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %"+">" %></pre>
<%= column_chart @views.group(:browser).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %>

<h3>Average Duration By Country (Minutes)</h3>
<pre><%= "<%= bar_chart @views.group(:country).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]}, height: \"450px\" %"+">" %></pre>
<%= bar_chart @views.group(:country).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]}, height: "450px" %>
<pre><%= "<%= geo_chart @views.group(:country).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %"+">" %></pre>
<%= geo_chart @views.group(:country).average(:duration)
  .map{|d| [d[0], (d[1].to_f/1.minute).round(2)]} %>