<h3>Total Views By Day</h3>
<pre><%= "<%= line_chart @views.group_by_day(:created_at, format: \"%B %d, %Y\").count, discrete: true %"+">" %></pre>
<%= line_chart @views.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true %>

<h3>Total Views By OS</h3>
<pre><%= "<%= column_chart @views.group(:os).count, discrete: true %"+">" %></pre>
<%= column_chart @views.group(:os).count, discrete: true %>
<pre><%= "<%= pie_chart @views.group(:os).count, discrete: true %"+">" %></pre>
<%= pie_chart @views.group(:os).count, discrete: true %>

<h3>Total Views By Browser</h3>
<pre><%= "<%= column_chart @views.group(:browser).count, discrete: true %"+">" %></pre>
<%= column_chart @views.group(:browser).count, discrete: true %>
<pre><%= "<%= pie_chart @views.group(:browser).count, discrete: true %"+">" %></pre>
<%= pie_chart @views.group(:browser).count, discrete: true %>

<h3>Total Views By Country</h3>
<pre><%= "<%= bar_chart @views.group(:country).count, discrete: true, height: \"450px\" %"+">" %></pre>
<%= bar_chart @views.group(:country).count, discrete: true, height: "450px" %>
<pre><%= "<%= geo_chart @views.group(:country).count %"+">" %></pre>
<%= geo_chart @views.group(:country).count %>